<footer class="page__footer">
  <div class="arrowup">
    <a class="buttonup" title="arrowup" href="#top"
      ><img title="arrowup" src="./assets/images/ico-arrow.svg" alt="arrow up"
    /></a>
  </div>
  <wrap class="footer__elements">
    <nav class="footer__links">
      <ul class="nav__list">
        <li><a title="Articles" href="https://adalab.es">Articles</a></li>
        <li><a title="Books" href="https://adalab.es">Books</a></li>
        <li><a title="Events" href="https://adalab.es">Events</a></li>
        <li><a title="Reason" href="https://adalab.es">Reasons</a></li>
        <li><a title="Tips" href="https://adalab.es">Tips</a></li>
      </ul>
    </nav>
    <nav class="footer__links socialmedia">
      <ul class="nav__list">
        <li><a title="socialmedia" href="https://adalab.es">Twitter</a></li>
        <li><a title="socialmedia" href="https://adalab.es">Instagram</a></li>
        <li>
          <a title="socialmedia" href="https://adalab.es">Mastodont.social</a>
        </li>
      </ul>
    </nav>
    <div class="small">
      <small class="copy"> &copy; 2017 </small>
      <small class="love"
        >We
        <i class="fas fa-heart"></i>
        components
      </small>
    </div>
  </wrap>
</footer>
