<header class="page__header" id="top">
  <nav class="header__menu--hamburger">
    <a title="menu" href="https://adalab.es"
      ><img
        title="menu"
        class="hamburger"
        src="./assets/images/ico-menu.svg"
        alt="hamburger menu"
    /></a>
  </nav>
  <div class="hero">
    <h1 class="header__title">Anonymus proxy</h1>
    <p class="header__subtitle">In hac habitasse platea dictumst</p>
    <div class="header__container--scroll">
      <a title="scroll down" href="#3purch"
        ><img
          title="scroll down"
          class="scroll"
          src="./assets/images/ico-scroll-down.svg"
          alt="scroll down icon"
        />
      </a>
    </div>
  </div>
</header>
