<main>
  <section class="main__section--tips">
    <h6 class="section__name">Insomnia tips</h6>
    <h2 class="section__title--tips">Looking through a window</h2>
    <p class="section__text--tips">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis ut
      facilis placeat reiciendis laboriosam ipsam odit veniam. Officia commodi,
      quaerat minus quisquam nihil est.
    </p>
    <a class="article__link--tips" href="">Go</a>
  </section>
  <section class="main__section--purchase" id="3purch">
    <h2 class="section__title--purchase">3 Reasons to purchase</h2>
    <article class="section__article">
      <h4 class="article__title">Because you deserve it</h4>
      <p class="article__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit
      </p>
    </article>
    <article class="section__article dos">
      <h4 class="article__title">Because you deserve it</h4>
      <p class="article__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit
      </p>
    </article>

    <article class="section__article tres">
      <h4 class="article__title">Because you deserve it</h4>
      <p class="article__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit
      </p>
    </article>
    <button class="section__button">More reasons</button>
  </section>
</main>
