// fonts
$fontText: "Roboto", sans-serif;
$fontTitle: "Roboto Slab", serif;
$sizeTitleMobile: 24px;
$sizeTitleTablet: 26px;
$sizeTitleDesktop: 32px;
$sizeTextMobile: 18px;
$sizeTextTablet: 20px;
$sizeButtonWeight: 500;
// colors
$colorHeader: white;
//buttons
$buttonBorderRadius: 22px;
$colorButtons: #f26002;
